name: Deploy on Truefoundry

on:
  push:
    branches:
      - main

env:
  TFY_HOST: https://tf-demo.truefoundry.cloud
  TFY_APPLICATION_FQN: tf-demo-new:tf-demo:deployment-tf
  TFY_API_KEY: ${{ secrets.TFY_API_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Install servicefoundry
        run: pip install servicefoundry
      - name: Deploy with patch
        run: |
          sfy patch-application --application_fqn=tf-demo-new:tf-demo:deployment-tf --patch='{"image": {"build_source": {"ref": "${{ github.sha }}"}}}'
